@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --color-background: #fcffed;
  --color-secundary-lighter: #f9a826;
  --color-secundary-dark: #f48400;
  --color-primary-lighter: #6aa8ca;
  --color-primary-dark: #1d3292;
  --color-line-in-grey: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

hmtl, body, #root {
  min-height: 100%;
}

body {
  background-color: var(--color-background);
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}